body,h1,h2,h3,h4,p,span{margin: 0; padding: 0;}

.blur{
    height: 100vh;
    width: 100%;
}
.l1 span{
    font-size: 0.8rem;
}

.l2 span{
    font-size: 0.72rem;
}
.co{
    display: inline-block;
    background-color: #fff;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    border-width: 3px;
    border-style: solid;
}
